body {
    position: relative;

    &::after {
        content: '';
        height: 1px;
        width: 100%;
        background-color: var(--white-color);
        position: absolute;
        top: 112px;
        z-index: 100000;
        
    }

    &::before {
        content: '';
        height: 100%;
        width: 1px;
        background-color: var(--white-color);
        position: absolute;
        top: 0;
        left: 64px;
        z-index: 10000;
    }
}