@use '../mixins/responsive.scss' as *;

body {
    position: relative;
    background-color: var(--background-color);
    font-family:  'Montserrat', sans-serif;
    
    @include responsive(laptop) {
        cursor: none;
    }


    &::after {
        content: '';
        height: 1px;
        width: 100vw;
        background-color: var(--black-color);
        position: absolute;
        top: 112px;
        z-index: 10000;
        position: fixed;
        @include responsive(tablet){
            top: 150px;
        }
    }

    
}


.body {
    &__container {
        background-image: var(--degradados-background);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
        background-attachment: fixed;
        position: relative;
        z-index: 10;
    }
}

.body--menu {
    &::after {
        background-color: var(--white-color);

    }

    &::before {
        background-color: var(--white-color);
    }
}

.cursor {
    @include responsive(laptop) {
        position: fixed;
        top: var(--y-cord);
        left: var(--x-cord);
        width: 70px;
        height: 70px;
        background-color: var(--cursor-color);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: difference;
        z-index: 1000;
        pointer-events: none;
    }

}

.cursor-visible {
    @include responsive(laptop) {
        cursor: default;
    }
}