@use '../mixins/responsive.scss' as *;

.footer {
    position: relative;
        @include responsive(laptop){
            margin-left: 447px;
        }
    

    &__space {
        height: 50px;
    }
}