@use '../mixins/responsive.scss' as *;

.formulary {
    &__form-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }


    &__form-input {
        width: 100%;
        border: solid 1px var(--black-color);
        @include responsive(tablet){
            height: 2.5rem;
         }
    }

    &__text-area {
        height: 90px;
        @include responsive(tablet){
           height: 120px;
        }
    }
}