@use '../mixins/responsive.scss' as *;

.header {
    height: 100vh;
    padding-top: 2rem;
    position: relative;
    overflow: hidden;
    @include responsive(tablet){
        position: relative;

    &::after {
        content: '';
        display: block;
        height: 100%;
        width: 1px;
        position: absolute;
        right: 106px;
        top: 0;
        background-color: var(--black-color);
        z-index: 10000;
    }
    }



    &__container {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
    }

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 16px;
    }

    &__text-container {
        margin-bottom: 3rem;
        

        @include responsive(tablet){
            padding-right: 42%;
            margin-left: 20px;
            margin-top: 110px;
        }
    }

    &__title{
        font-family: 'Archivo', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: .5rem;
        @include responsive(tablet){
            margin-bottom: 1.5rem;
        }
    }

    &__bottom{
        padding-top: 150px;
        height: 100vh;
        margin-left: 64px;
        padding-left: 46px;
        border-left: 1px solid var(--black-color);
        @include responsive(tablet){
            margin-left: 106px;
        }
    }

}

.scroll-image {
    position: absolute;
    bottom: 30px;
    left: 25px;
    z-index: -1;
    width: 17px;
    @include responsive(tablet){
        width: 23px;
        left: 50px;
        bottom: 30px;
    }
}