.front-end {
    position: relative;
    z-index: -1;

    &::before {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--black-color);
        z-index: 10000;
    }

    &__tittle {
        margin-right: 20%;
        margin-bottom: 1.2rem;
    }
}

.text--container {
    padding-top: 2rem;
    padding-right: 46px;
    padding-left: 46px;
    padding-bottom: 4rem;
    margin-left: 64px;
    margin-right: 64px;
}



.section--end {
    position: relative;

    &::after {
        content: '';
        display: block;
        height: 1px;
        width: calc(100% + 64px);
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: var(--black-color);
        z-index: 10000;
    }
}

.icon {
    &__link {
        display: flex;
        align-items: center;
        padding-top: 1rem;
    }

    &__icon {
        width: 35px;
    }

    &__text {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.75rem;
        font-weight: 600;
        padding-left: .6rem;
    }

}

.graphic-UI {
    ยก &__graphic {
        padding-bottom: 2.5rem;
    }

    &::after {
        content: '';
        display: block;
        height: 100%;
        width: 1px;
        position: absolute;
        right: 64px;
        top: 0;
        background-color: var(--black-color);
        z-index: 10;
    }

    &__container {
        position: relative;
        z-index: 0;

        &::after {
            display: none;
        }

    }

    &__image {
        margin: 0;
        width: 100%;
        object-fit: cover;
    }

    &__image--icons {
        padding: 3rem;
    }
}

.About-me {
    &__container {
        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    &__text-container {
        padding-bottom: 2rem;
    }
}

.image--container-double {
    display: flex;
    max-width: 50%;

}

//UNDERLINES//

.image--container {
    margin: 0;
    margin-left: 64px;
    margin-right: 64px;
    position: relative;
}

.continuation {
    &::before {
        display: none;
    }
}

.under--line {
    position: relative;

    &::after {
        content: '';
        display: block;
        height: 1px;
        width: calc(100% + 64px);
        left: -64px;
        bottom: 0;
        position: absolute;
        background-color: var(--black-color);
        z-index: 1000;

    }
}

.under--line-full {
    position: relative;

    &::after {
        content: '';
        display: block;
        height: 1px;
        width: calc(100% + 64px + 64px);
        left: -64px;
        bottom: 0;
        position: absolute;
        background-color: var(--black-color);
        z-index: 1000;
    }
}

.under--line-short {
    position: relative;

    &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        left: -64px;
        bottom: 0;
        position: absolute;
        background-color: var(--black-color);
        z-index: 1000;
        margin-left: 64px;
    }
}

//LINK DE PROYECTO//

.link {
    display: block;
    padding-top: 1rem;

    &__text {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 600;
        margin: 0;
    }

    &__item {
        margin: 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 600;
        text-decoration: underline;
    }

    &__container {
        display: flex;
    }

    &__separation {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 600;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}