@use '../mixins/responsive.scss' as *;
@use '../mixins/pseudo.scss' as *;

.article {
    position: relative;
    margin-left: 64px;
    padding-top: 1rem;
    margin-right: 64px;
    border-left: 1px solid var(--black-color);
    border-right: 1px solid var(--black-color);

    &--container{
        border-top: 1px solid var(--black-color);
        border-bottom: 1px solid var(--black-color) ;
    }
  
  
    &__content {
      padding-left: 2rem;
    }

    
  }

  .skills {
    margin: 0;
    padding-bottom: 1rem;
    &__item {
      margin-bottom: 1rem;
    }
  }

//UNDERLINES//

.image--container {
    margin: 0;
    margin-left: 64px;
    margin-right: 64px;
    position: relative;

    @include responsive(tablet){
        margin-left: 120px;
        margin-right: 120px;
}
}

.continuation {
    &::before {
        display: none;
    }
}

.under--line {
    position: relative;

    &::after {
        content: '';
        display: block;
        height: 1px;
        width: calc(100% + 64px);
        left: -64px;
        bottom: 0;
        position: absolute;
        background-color: var(--black-color);
        z-index: 1000;
        @include responsive(tablet){
            width: calc(100% + 120px );
            left: -120px;
        }
    }
}

.under--line-full {
    position: relative;

    &::after {
        display: block;
        height: 1px;
        width: calc(100% + 64px + 64px);
        left: -64px;
        bottom: 0;
        position: absolute;
        background-color: var(--black-color);
        z-index: 1000;
        @include responsive(tablet){
            width: calc(100% + 120px + 120px);
            left: -120px;
        }
    }
}

.under--line-short {
    position: relative;

    &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        left: -64px;
        bottom: 0;
        position: absolute;
        background-color: var(--black-color);
        z-index: 10000;
        margin-left: 64px;

        @include responsive(tablet){
            left: 0px;
            margin-left: 0;
        }
    }
}

//LINK DE PROYECTO//

.link {
    display: block;
    padding-top: 1rem;

    &__text {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 600;
        margin: 0;
    }

    &__item {
        margin: 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 600;
        text-decoration: underline;
    }

    &__container {
        display: flex;
    }

    &__separation {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 600;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}