@use '../mixins/responsive.scss' as *;
@use '../mixins/pseudo.scss' as *;


.main{
    @include responsive(laptop){
        margin-left: 447px;
    }
}

.article {
    position: relative;
    margin-left: 64px;
    padding-top: 1rem;
    margin-right: 64px;
    border-left: 1px  solid var(--black-color);
    border-right: 1px solid var(--black-color);
    
    @include responsive(tablet){
        margin-left: 106px;
        margin-right: 106px;
    }
    @include responsive(laptop){
        margin-right: 180px;
    }

    &--container{
        border-top: 1px solid var(--black-color);
        border-bottom: 1px solid var(--black-color) ;

        &--continuation{
            border-top: 0;
        }
    }
  
  
    &__content {
      padding-left: 2rem;
      @include responsive(tablet){
        padding-left: 6.875rem;
    }
    }

    &__text-container{
        padding-left: 46px;
        padding-right: 46px;
        padding-bottom: 2rem;
        @include responsive(tablet){
            padding-top: 3rem;
            padding-left: 6.875rem;
            padding-right: 6.875rem;
            padding-bottom: 3rem;
        }
    }

    &__text{
        margin: 0;
        padding-bottom: 1.5rem;
        padding-top: 1rem;
    }

    &__link{
        text-transform: uppercase;
        margin-bottom: 0;
        padding: .8rem;
        border-radius: 50px;
        border: 1px solid black;
        font-weight: 800;
        text-align: center;
        background-color: white;
    }

    
}

  .skills {
    margin: 0;
    padding-bottom: 2rem;
    padding-top: 1rem;
    &__item {
      margin-bottom: .5rem;
    }
}

.image{
    object-fit: contain;
    &__container{
        margin-right: .3px;

        &--double{
            display: flex;
        }
    }

    &__double{
        width: 50%;
        object-fit: cover;
    }

    &__decoration{
        width: calc(100% + 128px);
        transform: translateX(-64px);
        border-top: 1px solid var(--black-color);
        @include responsive(tablet){
            width: calc(100% + 106px + 106px);
            transform: translateX(-106px);
        }
        @include responsive(laptop){
            width: calc(100% + 106px + 180px)
        }

        &--short{
            width: 100%;
            transform: translateX(0);
        }
    }

    &__icons{
        padding: 2rem;
        @include responsive(tablet){
            padding: 6rem;
        }
    }
}

//UNDERLINES//




.under--line {
    position: relative;

    &::after {
        content: '';
        display: block;
        height: 1px;
        width: calc(100% + 64px);
        left: -64px;
        bottom: 0;
        position: absolute;
        background-color: var(--black-color);
        z-index: 1000;
        @include responsive(tablet){
            width: calc(100% + 120px );
            left: -120px;
        }
    }
}

.under--line-full {
    position: relative;

    &::after {
        display: block;
        height: 1px;
        width: calc(100% + 64px + 64px);
        left: -64px;
        bottom: 0;
        position: absolute;
        background-color: var(--black-color);
        z-index: 1000;
        @include responsive(tablet){
            width: calc(100% + 120px + 120px);
            left: -120px;
        }
    }
}

.under--line-short {
    position: relative;

    &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        left: -64px;
        bottom: 0;
        position: absolute;
        background-color: var(--black-color);
        z-index: 10000;
        margin-left: 64px;

        @include responsive(tablet){
            left: 0px;
            margin-left: 0;
        }
    }
}

//LINK DE PROYECTO//

.link {
    display: block;
    padding-top: 1rem;

    &__text {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 600;
        margin: 0;
    }

    &__item {
        margin: 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 600;
        text-decoration: underline;
    }

    &__container {
        display: flex;
    }

    &__separation {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 600;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}