.menu {
    position: absolute;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;

    &__link {
        position: relative;
        color: var(--white-color);
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        display: inline-block;

        &::before {
            position: absolute;
            top: -1.2rem;
            font-size: 0.8125rem;
            font-weight: 900;
            color: var(--primary-color);
        }
    }

    &__item {
        padding-bottom: 4rem;
    }
}

//MENU VISIBLE//

.menu--show {
    position: absolute;
    z-index: 10000;
    background-color: var(--black-color);
    top: 0;
    width: 100%;
    height: 110vh;
    padding-left: 120px;
    padding-top: 210px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: .2s;


}

//ANIMACIÓN HOVER AFTER MENU__LINK//

.menu__link::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition-property: transform;
    transition-duration: .7s;
}

.menu__link:hover::after {
    transform: scaleX(100%);
    transform-origin: left;
    transition-property: transform;
    transition-duration: .7s;
}

//CONTENIDO BEFORES//

.link--1::before {
    content: '01';
}

.link--2::before {
    content: '02';
}

.link--3::before {
    content: '03';
}

.link--4::before {
    content: '04';
}

.link--5::before {
    content: '05';
}

//CLASE MENU__LINK ACTIVO//

.link--active {
    font-weight: 800;

    &::after {
        position: absolute;
        bottom: -.5rem;
        left: 0;
        width: 53px;
        height: 6px;
        background-color: var(--primary-color);
        transform: scale(100%);
    }
}