@use '../mixins/responsive.scss' as *;

.nav {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 63px;
    position: fixed;
    width: 100%;
    background-color: var(--background-color);
    z-index: 1000;
    
    

    &::before {
        content: '';
        height: 100%;
        width: 1px;
        background-color: var(--black-color);
        position: absolute;
        top: 0;
        left: 64px;
        z-index: 10000;
        @include responsive(tablet){
            left: 106px;
        }
        @include responsive(laptop){
            left: auto;
            right: 180px;
        }

    }

    

    @include responsive(tablet){
        height: 100px;
        padding-bottom: 100px;
        z-index: 100000;

        

        &::after {
            content: '';
            display: block;
            height: 100%;
            width: 1px;
            position: absolute;
            right: 106px;
            top: 0;
            background-color: var(--black-color);
            z-index: 10;
            @include responsive(laptop){
                display: none;
            }
        }
    }

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding-top: 95px;
        padding-bottom: 30px;
        background-image: var(--degradados-background);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1000;
        @include responsive(tablet){
            padding-top: 170px;
        }

    }
    &__hamburguer-icon {
        margin: auto;
        width: 24px;
        height: 4px;
        background-color: var(--black-color);
        position: absolute;
        transition-property: background-color;
        transition-duration: 0.9s;
        @include responsive(tablet){
            width: 35px;
            height: 6px;
        }
        

        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15px;
            width: 50px;
            height: 100px;
            position: relative;
            z-index: 100000;

            @include responsive(tablet){
                margin-left: 45px;
            }

            @include responsive(laptop){
                display: none;
            }
        }

        &::after {
            content: '';
            width: 24px;
            height: 4px;
            background-color: var(--black-color);
            position: absolute;
            transform: translateY(-200%);
            transition-property: transform;
            transition-duration: 0.3s;
            @include responsive(tablet){
                width: 35px;
                height: 6px;
            }
        }

        &::before {
            content: '';
            width: 24px;
            height: 4px;
            background-color: var(--black-color);
            position: absolute;
            transform: translateY(200%);
            transition-property: transform;
            transition-duration: 0.3s;
            @include responsive(tablet){
                width: 35px;
                height: 6px;
            }
        }
    }
}

.white{
        
    &::before{
        background-color: var(--white-color);
    }
}

//DESACTIVAR EN NIGH MODE ICON CUANDO EL MENU ES VISIBLE//
.night-mode-icon--desactive {
    display: none;
}

//ANIMACION ICONO HAMBURGUESA//

.line--cross {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.4s;

}

.line--cross::before {
    background-color: var(--primary-color);
    transform: rotate(45deg);
    transition-property: transform;
    transition-duration: 0.3s;
}


.line--cross::after {
    background-color: var(--primary-color);
    transform: rotate(-45deg);
    transition-property: transform;
    transition-duration: 0.3s;
}