@use '../mixins/responsive.scss' as *;



.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;

    &--m{
        font-size: .8rem;
    }

    &--l {
        font-size: .9rem;

        @include responsive(tablet){
            font-size: 1.2rem;
        }
        @include responsive(laptop){
            font-size: 1rem;
        }
    }

    &--s{
        font-size: .7rem;
        @include responsive(tablet){
            font-size: 1rem;
        }
    }

    &--xl{
        font-size: 1.3rem;
        @include responsive(tablet){
            font-size: 1.6rem;
        }
    }

    &--extra-bold {
        font-weight: 600;
    }

}