.title {
    &--l {
        font-family: 'Archivo', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 60px;
        line-height: 59px;
        margin-bottom: 0;
    }

    &--m {
        font-family: 'Archivo', sans-serif;
        font-weight: 500;
        font-size: 31px;
    }

    &--s {
        font-family: 'Archivo', sans-serif;
        font-weight: 500;
        font-size: 29px;
    }
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;

    &--l {
        font-size: 14px;
    }

    &--extra-bold {
        font-weight: 600;
    }
}

.section {
    &__link-text {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 600;
        padding-left: .6rem;
    }
}

.normal__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 1.3rem;
    margin: 0;
    margin-bottom: .3rem;
}