@use '../mixins/responsive.scss' as *;

.title {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--black-color);

    &--project{
      margin-bottom: 1.5rem;
      color: var(--black-color);
      @include responsive(laptop){
        margin-bottom: 1rem;
        margin-top: 1.2rem;
    }
    }
  
    &--xs {
      font-size: var(--title-xs);
      color: var(--black-color);
      @include responsive(tablet){
        font-size: 3rem;
        font-weight: 500px;
    }
    @include responsive(laptop){
      font-size: 2.5rem;
 }
    }
    &--s {
      color: var(--black-color);
      font-size: var(--title-s);
      @include responsive(tablet){
        font-size: 3.5rem;
        font-weight: 500px;
    }
    @include responsive(laptop){
      font-size: 2.7rem;
 }
    }
    &--m {
      color: var(--black-color);
      font-size: var(--title-m);
    }
    &--l {
      color: var(--black-color);
      font-size: var(--title-l);
      @include responsive(tablet){
        font-size: 7rem;
        line-height: 6rem;
        margin-left: -5px;
    }
    @include responsive(laptop){
       font-size: 6.5rem;
  }
    }
    &--xl {
      color: var(--black-color);
      font-size: var(--title-xl);
    }
    &--xxl {
      color: var(--black-color);
      font-size: var(--title-xxl);
    }
  }
