:root {
  --x-cord: 0;
  --y-cord: 0;
  --cursor-color: #EAE1F4;


  --black-color: black;
  --white-color: white;
  --background-color: #EAE1F4;
  --primary-color: #E8D3FF;
  --degradados-background: url(../assets/images/degradados.svg);
  --degradados-nav: url(../assets/images/nav-background.svg);
  /* Variables CSS */
}

/* Variables SASS */