@use '../mixins/responsive.scss' as *;


:root {
  --x-cord: 0;
  --y-cord: 0;
  --cursor-color: #E8D3FF;


  --black-color: black;
  --white-color: white;
  --background-color: #EAE1F4;
  --primary-color: #E8D3FF;
  --degradados-background: url(../assets/images/degradados.svg);

  @include responsive(laptop) {
    --degradados-background: url(../assets/images/degradados-laptop.svg);
  }

  --degradados-nav: url(../assets/images/nav-background.svg);

  @include responsive(laptop) {
    --degradados-nav: url(../assets/images/nav-background-laptop.svg);
  }

  /* Variables CSS */

  /* Font sizes */
  --title-xs: 1.7rem;
  --title-s: 1.9375rem;
  --title-m: 2.875rem;
  --title-l: 3.75rem;
  --title-xl: 4.1rem;
  --title-xxl: 6.25rem;
}

/* Variables SASS */